Repository krille-chan/fluffychat, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pitabwire, @dependabot, @weblate

Move word card feedback notification from bottom to top of screen (#4402)
  lib/pangea/token_info_feedback/token_info_feedback_button.dart
Owners: @pitabwire

chore: add level bar / analytics to space details page on mobiel (#4405)
  lib/pangea/chat_settings/pages/pangea_room_details.dart
  lib/pangea/chat_settings/pages/space_details_content.dart
Owners: @pitabwire

chore: add skip button to add course page (#4407)
  lib/pangea/login/pages/add_course_page.dart
Owners: @pitabwire

chore: message on empty vocab filter (#4410)
  lib/l10n/intl_en.arb
  lib/pangea/analytics_details_popup/vocab_analytics_list_view.dart
Owners: @weblate, @pitabwire

chore: add tooltip to describe vocab highlighting in activity dropdown menu (#4412)
  lib/l10n/intl_en.arb
  lib/pangea/activity_sessions/activity_session_chat/activity_stats_menu.dart
  lib/pangea/instructions/instructions_enum.dart
  lib/pangea/instructions/instructions_inline_tooltip.dart
Owners: @weblate, @pitabwire

fix: don't delete archived activities on delete space (#4414)
  lib/pangea/chat_settings/widgets/delete_space_dialog.dart
Owners: @pitabwire

fix: refresh chat list on join with link (#4417)
  lib/pangea/spaces/utils/join_with_link.dart
Owners: @pitabwire

chore: make word card close and flag button the same styling and vertically aligned (#4419)
  lib/pangea/toolbar/widgets/word_zoom/word_zoom_widget.dart
Owners: @pitabwire

fix: if a new user gets to account create page without target language in local storage or from course, direct them back to language selection (#4422)
  lib/pangea/login/pages/create_pangea_account_page.dart
Owners: @pitabwire

fix: handle room code on join with code (#4427)
  lib/pangea/login/pages/course_code_page.dart
Owners: @pitabwire

fix: push route on start to make add course page app bar back button work as expected (#4430)
  lib/pangea/login/pages/login_or_signup_view.dart
Owners: @pitabwire

chore: on no courses found for language, log error (#4434)
  lib/pangea/common/config/environment.dart
  lib/pangea/course_creation/course_search_provider.dart
  lib/pangea/course_plans/courses/course_filter.dart
Owners: @pitabwire

fix: fix scrolling in delete space dialog (#4436)
  lib/pangea/chat_settings/widgets/delete_space_dialog.dart
Owners: @pitabwire

build: bump version number
  pubspec.yaml
Owners: @dependabot

chore(translations): Translated using Weblate (Norwegian Bokmål)
  lib/l10n/intl_nb.arb
Owners: @weblate

chore(translations): Translated using Weblate (Belarusian)
  lib/l10n/intl_be.arb
Owners: @weblate

chore: remove vocab tooltip from activity dropdown menu and update copy in end activity button (#4445)
  lib/pangea/activity_sessions/activity_session_chat/activity_stats_menu.dart
  lib/pangea/instructions/instructions_enum.dart
Owners: @pitabwire

chore(translations): Translated using Weblate (Russian)
  lib/l10n/intl_ru.arb
Owners: @weblate

chore(translations): Translated using Weblate (Norwegian Bokmål)
  lib/l10n/intl_nb.arb
Owners: @weblate

chore(translations): Translated using Weblate (Belarusian)
  lib/l10n/intl_be.arb
Owners: @weblate

fix: Null pointer crash in chat list item
  lib/pages/chat_list/chat_list_item.dart
Owners: @pitabwire

chore: Follow up encryption button design
  lib/pages/chat/encryption_button.dart
Owners: @pitabwire

chore: Adjust encryption page design
  lib/pages/chat_encryption_settings/chat_encryption_settings_view.dart
Owners: @pitabwire

ci: Build only for arm64
  .github/workflows/integrate.yaml
Owners: @dependabot

deploy: 966f13792c2280b60d152f5e102c4c7f4f43ce59
  nightly/flutter_bootstrap.js
  nightly/flutter_service_worker.js
  nightly/index.html
Owners: @pitabwire

build: (deps): bump unifiedpush_ui from 0.1.0 to 0.2.0
  lib/utils/background_push.dart
  pubspec.lock
  pubspec.yaml
Owners: @pitabwire, @dependabot

build: Update desktop plugins
  linux/flutter/generated_plugin_registrant.cc
  linux/flutter/generated_plugins.cmake
  macos/Flutter/GeneratedPluginRegistrant.swift
  windows/flutter/generated_plugin_registrant.cc
  windows/flutter/generated_plugins.cmake
Owners: @pitabwire

deploy: bedfde7c10d61b8344b89c912671f4a512b2665d
  nightly/flutter_bootstrap.js
  nightly/flutter_service_worker.js
  nightly/index.html
Owners: @pitabwire

design: Improved spaces UX
  lib/l10n/intl_en.arb
  lib/pages/chat_list/chat_list_item.dart
  lib/pages/chat_list/space_view.dart
  lib/pages/chat_list/unread_bubble.dart
  lib/widgets/adaptive_dialogs/public_room_dialog.dart
  lib/widgets/avatar.dart
Owners: @weblate, @pitabwire

build: Update macOS Podfile
  macos/Podfile.lock
Owners: @pitabwire

chore: Follow up spaces UX
  lib/l10n/intl_en.arb
  lib/pages/chat_list/chat_list_body.dart
  lib/pages/chat_list/chat_list_item.dart
  lib/pages/chat_list/space_view.dart
  lib/widgets/navigation_rail.dart
Owners: @weblate, @pitabwire

chore: Better routing to space id
  lib/config/routes.dart
  lib/pages/chat_list/chat_list.dart
  lib/widgets/adaptive_dialogs/public_room_dialog.dart
Owners: @pitabwire

fix: Cupertino text dialogs
  lib/widgets/adaptive_dialogs/dialog_text_field.dart
  lib/widgets/adaptive_dialogs/show_text_input_dialog.dart
Owners: @pitabwire

feat: Add support for restricted join rule
  lib/l10n/intl_en.arb
  lib/pages/chat_access_settings/chat_access_settings_controller.dart
  lib/pages/chat_access_settings/chat_access_settings_page.dart
Owners: @weblate, @pitabwire

chore: Correctly remove knockRestricted from possible join rules
  lib/pages/chat_access_settings/chat_access_settings_controller.dart
Owners: @pitabwire

deploy: 8bf46a38783c2000ad1cbcbfb6a7ab8757dcc1c0
  nightly/flutter_bootstrap.js
  nightly/flutter_service_worker.js
  nightly/index.html
Owners: @pitabwire

deploy: c7bc84e6f50acdca18bddb7781950582ee1eb0ce
  nightly/flutter_bootstrap.js
  nightly/flutter_service_worker.js
  nightly/index.html
Owners: @pitabwire

build: Remove dependency for telephony
  android/app/src/main/AndroidManifest.xml
Owners: @pitabwire

deploy: fdb5826d095b3dfcf32a380a4d6df6afbd6207b4
  nightly/flutter_bootstrap.js
  nightly/flutter_service_worker.js
  nightly/index.html
Owners: @pitabwire

chore: Follow up notification actions
  lib/utils/push_helper.dart
Owners: @pitabwire

.github/CODEOWNERS:

* @pitabwire
pubspec.* @dependabot
.github/workflows/* @dependabot
lib/l10n/*.arb @weblate
