Repository krille-chan/fluffychat, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pitabwire, @dependabot, @weblate

.github/CODEOWNERS:

* @pitabwire
pubspec.* @dependabot
.github/workflows/* @dependabot
lib/l10n/*.arb @weblate

make login fairly smooth
  config.sample.json
  lib/config/app_config.dart
  lib/l10n/intl_en.arb
  lib/pages/homeserver_picker/homeserver_picker.dart
  lib/pages/homeserver_picker/homeserver_picker_view.dart
  lib/utils/push_helper.dart
Owners: @pitabwire, @weblate

Update lib/config/app_config.dart
  lib/config/app_config.dart
Owners: @pitabwire

format file as required by linter
  lib/config/app_config.dart
  lib/pages/homeserver_picker/homeserver_picker.dart
Owners: @pitabwire

fix minor misallignments
  ios/Podfile
  ios/Stawi Share/Info.plist
  scripts/build-ios.sh
  scripts/build-macos.sh
Owners: @pitabwire

add caching for ci builds
  .github/workflows/integrate.yaml
Owners: @dependabot

add caching for ci builds
  .github/workflows/integrate.yaml
Owners: @dependabot

resolved action naming issue
  .github/workflows/integrate.yaml
Owners: @dependabot

Fix foreground notification navigation to activity sessions for course pings (#4369)
  lib/l10n/intl_en.arb
  lib/utils/background_push.dart
  lib/utils/client_manager.dart
  lib/utils/push_helper.dart
Owners: @weblate, @pitabwire

fix: show screen loading in course settings until activity roles are … (#4374)
  lib/pages/chat_details/chat_details.dart
  lib/pangea/course_chats/course_chats_page.dart
  lib/pangea/course_settings/course_settings.dart
Owners: @pitabwire

fix: on load course topics, also load location media to get topic images (#4376)
  lib/pangea/course_plans/course_topics/course_topic_model.dart
  lib/pangea/course_plans/courses/course_plan_builder.dart
Owners: @pitabwire

Add "Share course" tooltip to ShareRoomButton (#4375)
  lib/l10n/intl_en.arb
  lib/pangea/common/widgets/share_room_button.dart
Owners: @weblate, @pitabwire

Remove L1 (base language) display from course info chips (#4378)
  lib/pangea/course_creation/course_info_chip_widget.dart
  lib/pangea/course_plans/courses/course_plan_model.dart
Owners: @pitabwire

chore: only show unlocalized language options in course search target language dropdowns (#4380)
  lib/pangea/course_creation/course_language_filter.dart
  lib/pangea/learning_settings/utils/p_language_store.dart
  lib/pangea/login/pages/new_trip_page.dart
  lib/pangea/login/pages/public_trip_page.dart
Owners: @pitabwire

fix: after add course to existing space, push redirect route to refresh page (#4381)
  lib/pangea/course_creation/selected_course_page.dart
Owners: @pitabwire

fix: update isActivityStarted to rely on assignedRoles instead of directly using state event (#4382)
  lib/pangea/activity_sessions/activity_room_extension.dart
Owners: @pitabwire

add XP animation on match activity tokens (#4373)
  lib/pages/chat/events/html_message.dart
  lib/pangea/practice_activities/practice_activity_model.dart
Owners: @pitabwire

4379 show participants in public courses selection (#4383)
  lib/config/routes.dart
  lib/l10n/intl_en.arb
  lib/pangea/login/pages/add_course_page.dart
  lib/pangea/login/pages/course_code_page.dart
  lib/pangea/login/pages/new_course_page.dart
  lib/pangea/login/pages/public_courses_page.dart
  lib/widgets/navigation_rail.dart
Owners: @pitabwire, @weblate

fix: add base language dropdown to language selection page on identic… (#4384)
  lib/pangea/learning_settings/widgets/p_language_dropdown.dart
  lib/pangea/login/pages/create_pangea_account_page.dart
  lib/pangea/login/pages/language_selection_page.dart
  lib/pangea/login/utils/lang_code_repo.dart
Owners: @pitabwire

fix: add cms api url to activity image paths to load properly (#4385)
  lib/pangea/activity_planner/activity_plan_model.dart
Owners: @pitabwire

fix: don't mutate activity JSON image_url (#4386)
  lib/pangea/activity_planner/activity_plan_model.dart
Owners: @pitabwire

chore: Update matrix dart sdk to pub again
  pubspec.lock
  pubspec.yaml
Owners: @dependabot

deploy: a41dadc6cff21325f519d539f9dc95e22c31dbbf
  nightly/assets/assets/vodozemac/vodozemac_bindings_dart.js
  nightly/assets/assets/vodozemac/vodozemac_bindings_dart_bg.wasm
  nightly/flutter_bootstrap.js
  nightly/flutter_service_worker.js
  nightly/index.html
Owners: @pitabwire

chore(translations): Translated using Weblate (Norwegian Bokmål)
  lib/l10n/intl_nb.arb
Owners: @weblate

chore(translations): Translated using Weblate (Irish)
  lib/l10n/intl_ga.arb
Owners: @weblate

chore(translations): Translated using Weblate (Greek)
  lib/l10n/intl_el.arb
Owners: @weblate

chore(translations): Translated using Weblate (Basque)
  lib/l10n/intl_eu.arb
Owners: @weblate

chore(translations): Translated using Weblate (Greek)
  lib/l10n/intl_el.arb
Owners: @weblate

chore(translations): Translated using Weblate (Norwegian Bokmål)
  lib/l10n/intl_nb.arb
Owners: @weblate

chore(translations): Translated using Weblate (Latvian)
  lib/l10n/intl_lv.arb
Owners: @weblate

chore(translations): Translated using Weblate (Norwegian Bokmål)
  lib/l10n/intl_nb.arb
Owners: @weblate

chore(translations): Translated using Weblate (Norwegian Bokmål)
  lib/l10n/intl_nb.arb
Owners: @weblate

chore(translations): Translated using Weblate (Latvian)
  lib/l10n/intl_lv.arb
Owners: @weblate

chore(translations): Translated using Weblate (Norwegian Bokmål)
  lib/l10n/intl_nb.arb
Owners: @weblate

chore(translations): Translated using Weblate (Indonesian)
  lib/l10n/intl_id.arb
Owners: @weblate

chore(translations): Translated using Weblate (Norwegian Bokmål)
  lib/l10n/intl_nb.arb
Owners: @weblate

chore(translations): Translated using Weblate (Norwegian Bokmål)
  lib/l10n/intl_nb.arb
Owners: @weblate

chore(translations): Translated using Weblate (Norwegian Bokmål)
  lib/l10n/intl_nb.arb
Owners: @weblate

Update onboarding language selection text to "Choose a target language" (#4393)
  lib/l10n/intl_en.arb
Owners: @weblate

Update IT help message and remove unreferenced InstructionsEnum entries (#4391)
  lib/l10n/intl_en.arb
  lib/l10n/intl_es.arb
  lib/l10n/intl_et.arb
  lib/l10n/intl_vi.arb
  lib/pangea/instructions/instructions_enum.dart
Owners: @weblate, @pitabwire

fix: alway hide back button in add course page (#4404)
  lib/pangea/login/pages/add_course_page.dart
Owners: @pitabwire
