Repository krille-chan/fluffychat, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pitabwire, @dependabot, @weblate

.github/CODEOWNERS:

* @pitabwire
pubspec.* @dependabot
.github/workflows/* @dependabot
lib/l10n/*.arb @weblate

deploy: 4f0ed3e93fdb595a841b972882da62a6fedf52aa
  nightly/flutter_bootstrap.js
  nightly/flutter_service_worker.js
  nightly/index.html
Owners: @pitabwire

feat: Add donation buttons except for PlayStore&AppStore version
  lib/l10n/intl_en.arb
  lib/pages/chat_list/client_chooser_button.dart
  lib/utils/background_push.dart
Owners: @weblate, @pitabwire

chore: Fix load config.json
  lib/config/setting_keys.dart
Owners: @pitabwire

chore: Make privacy url not configurable
  lib/config/app_config.dart
  lib/config/setting_keys.dart
  lib/pages/homeserver_picker/homeserver_picker.dart
  lib/pages/settings/settings_view.dart
  lib/widgets/layouts/login_scaffold.dart
Owners: @pitabwire

chore: Follow up donation button
  lib/config/app_config.dart
  lib/pages/chat_list/client_chooser_button.dart
Owners: @pitabwire

chore(translations): Translated using Weblate (Russian)
  lib/l10n/intl_ru.arb
Owners: @weblate

chore(translations): Translated using Weblate (Russian)
  lib/l10n/intl_ru.arb
Owners: @weblate

chore(translations): Translated using Weblate (Chinese (Simplified Han script))
  lib/l10n/intl_zh.arb
Owners: @weblate

chore(translations): Translated using Weblate (Chinese (Simplified Han script))
  lib/l10n/intl_zh.arb
Owners: @weblate

chore(translations): Translated using Weblate (Russian)
  lib/l10n/intl_ru.arb
Owners: @weblate

fix: Correctly pass through obscure text
  lib/widgets/adaptive_dialogs/dialog_text_field.dart
  lib/widgets/adaptive_dialogs/show_text_input_dialog.dart
Owners: @pitabwire

deploy: ae29f949d2206e9b1815a58edbd63b9b258f4670
  nightly/flutter_bootstrap.js
  nightly/flutter_service_worker.js
  nightly/index.html
Owners: @pitabwire

chore: Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
Owners: @pitabwire

chore(translations): Translated using Weblate (German)
  lib/l10n/intl_de.arb
Owners: @weblate

chore: Add more platforms to bug report template
  .github/ISSUE_TEMPLATE/bug_report.yml
Owners: @pitabwire

chore: Update bug report platforms
  .github/ISSUE_TEMPLATE/bug_report.yml
Owners: @pitabwire

deploy: a8062de815c78137548ad77f2da2997c81be966f
  nightly/flutter_bootstrap.js
  nightly/flutter_service_worker.js
  nightly/index.html
Owners: @pitabwire

deploy: 89243bafeb6d33b04d9e69b8f2a6a01045484ddd
  nightly/flutter_bootstrap.js
  nightly/flutter_service_worker.js
  nightly/index.html
  nightly/main.dart.js_256.part.js
  nightly/main.dart.js_256.part.js.map
Owners: @pitabwire

chore: Hide restricted and knock restricted for unsupported room versions
  lib/pages/chat_access_settings/chat_access_settings_controller.dart
Owners: @pitabwire

deploy: 286d1662a47ff8fdfb3c5860eb57ec6a3e39d6f7
  nightly/flutter_bootstrap.js
  nightly/flutter_service_worker.js
  nightly/index.html
Owners: @pitabwire

removed old code (#4446)
  .github/workflows/issue_closed.yaml
Owners: @dependabot

change xp icon to star (#4431)
  lib/pangea/activity_sessions/activity_session_chat/activity_stats_button.dart
Owners: @pitabwire

chore: Try out refactored user device keys update method
  pubspec.lock
  pubspec.yaml
Owners: @dependabot

New logo
  assets/favicon.png
  assets/logo.png
  assets/logo.svg
  assets/logo_transparent.png
Owners: @pitabwire

Added rightclick to open context menu in chat list
  lib/pages/chat_list/chat_list_item.dart
Owners: @pitabwire

Added a few keybinds to the image viewer
  lib/pages/image_viewer/image_viewer.dart
Owners: @pitabwire

Made escape clear selection and added initial implementation to switch chats with alt arrows
  lib/pages/chat/chat.dart
  lib/pages/chat/chat_view.dart
Owners: @pitabwire

Ignore ignore files
  .gitignore
Owners: @pitabwire

Added more markdown options to context menu in input bar
  lib/l10n/intl_en.arb
  lib/utils/markdown_context_builder.dart
Owners: @weblate, @pitabwire

icons
  android/app/build.gradle
  android/app/src/main/ic_launcher-playstore.png
  android/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  android/app/src/main/res/mipmap-hdpi/ic_launcher.webp
  android/app/src/main/res/mipmap-hdpi/ic_launcher_foreground.webp
  android/app/src/main/res/mipmap-hdpi/ic_launcher_round.webp
  android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  android/app/src/main/res/mipmap-mdpi/ic_launcher.webp
  android/app/src/main/res/mipmap-mdpi/ic_launcher_foreground.webp
  android/app/src/main/res/mipmap-mdpi/ic_launcher_round.webp
  android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  android/app/src/main/res/mipmap-xhdpi/ic_launcher.webp
  android/app/src/main/res/mipmap-xhdpi/ic_launcher_foreground.webp
  android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.webp
  android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  android/app/src/main/res/mipmap-xxhdpi/ic_launcher.webp
  android/app/src/main/res/mipmap-xxhdpi/ic_launcher_foreground.webp
  android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.webp
  android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.webp
  android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_foreground.webp
  android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.webp
  android/app/src/main/res/values/ic_launcher_background.xml
  android/fastlane/metadata/android/en-US/images/featureGraphic.png
  android/fastlane/metadata/android/en-US/images/icon.png
  assets/favicon.svg
  assets/logo.png
  assets/logo.svg
  assets/logo_transparent.png
Owners: @pitabwire

Added a stickerpicker button/shortcut to the chat input
  lib/pages/chat/chat.dart
  lib/pages/chat/chat_emoji_picker.dart
  lib/pages/chat/chat_input_row.dart
Owners: @pitabwire

Remove gradient from chat bubbles
  lib/pages/chat/events/message.dart
Owners: @pitabwire

Fix some issues with switching to new chat
  lib/pages/chat/chat.dart
  lib/pages/chat/chat_view.dart
Owners: @pitabwire

Minor cleanup
  test/archive_test.dart
  test/homeserver_picker_test.dart
  test/widget_test.dart
Owners: @pitabwire
